table{
    width: 100%;
    position: relative;
}
/*Bagian css header judul */
#logo{
position: relative;
width:5px;
padding-left: 0%;
}
#judul{
    padding-right: 400px;
    position: relative;
}
#nomorhp{
    border-right: black;
}
#email{
    border-right: black;
}

/*Batas css header/ judul*/

/*Bagian css menu navigasi */
.navbar-right{
    float:right;
    width:1320px;
    padding-right: 30px;
}
.navbar{width:auto;
    height:40px;
    background: #00CAD7;
    border: radius 50px;
}
.navbar ul{
    float:left;
    margin:0;
    padding:0;
}
.navbar li{
    float:left;
    list-style:none;
    margin:0;
    padding:0;
}


.navbar li a, .navbar li a:link {
    float: left;
    padding: 8px 20px;
    color: black;
    text-decoration: none;
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
}
.navbar li a:hover{
    background: black;
    color: #00CAD7;
}
.navbar li li a, .navbar li li a:link {
    text-decoration: none;
    font-size: 16px;
    background: #00CAD7;
    color:black;
    width: 140px;
    padding: 0px 0px 0 12px;
    font-size: 12px;
    line-height: 35px;
}
.navbar li ul{
    z-index: 9999;
    position:absolute;
    left:-999em;
    height:auto;
    width:120px;
    margin-top:46px;
}
    /*bagian css agar menu drop down atau sub menu*/
.navbar li:hover ul,
.navbar li li:hover ul,
.navbar li li li:hover ul{left:auto;}
.navbar li:hover{position:auto;}
li a#dropdown{
    width: 96%;
    height: 50%;
    background-color: #9BC7D3;
    padding-left : 100px;
}
/*Batas
/* css Menu nav*/



/*Bagian isi tenatng saya*/
body{
    box-sizing: border-box;
}
.tabel1 {
    border-radius: 5px;
    border-style: solid;
}
.container {
    width: 100%;
    background-color: #f2f2f2;
    margin-bottom: 2%;
    border-radius: 5px;
}
.msword{
    width: 80%;
    background-color: aqua;
    border-radius: 5%;
}
.msexcel{
    width: 75%;
    background-color: aqua;
}
.program{
    width: 55%;
    background-color:#00A3FF;
}
.english{
    width: 65%;
    background-color:#00A3FF;
}
.indonesia{
    width: 90%;
    background-color: red;
}

.about{
    margin-bottom: 50%;
    background-color: rgba(245, 245, 245, 0.685);
    border-radius: 5%;
}
#isi{
    padding-top: 2%;
    line-height: 150%;
    padding-bottom:10%;
    font: source sans pro;
}
#kolom1{
    width: 50%;
    background-color: rgba(210, 105, 30, 0.212)
}
.skil1 {
    color: white;
}
.tabel12{
    background-color: rgba(245, 245, 245, 0.822);
    border-radius: 5%;
}
#fotodandi{
    border-radius: 5%;
}
#logodandi{
position: absolute;
width: 44.76px;
height: 36.38px;
left: 1100px;
top: 305px;
}
#namalogo{
    position: absolute;
    top: 300px;
    left: 1150px;
}
#bahasa{
    color: whitesmoke;
}

/*Bagian css hak cipta*/
.hakcipta{
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 10px;
}

/*Batas css hak cipta*/