table{
    width: 100%;
    position: relative;
}
/*Bagian css header judul */
#logo{
position: relative;
width:5px;
padding-left: 0%;
}
#judul{
    padding-right: 400px;
    position: relative;
}
#nomorhp{
    border-right: black;
}
#email{
    border-right: black;
}

/*Batas css header/ judul*/

/*Bagian css menu navigasi */
.navbar-right{
    float:right;
    width:1320px;
    padding-right: 30px;
}
.navbar{width:auto;
    height:40px;
    background: #00CAD7;
    border: radius 50px;
}
.navbar ul{
    float:left;
    margin:0;
    padding:0;
}
.navbar li{
    float:left;
    list-style:none;
    margin:0;
    padding:0;
}


.navbar li a, .navbar li a:link {
    float: left;
    padding: 8px 20px;
    color: black;
    text-decoration: none;
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
}
.navbar li a:hover{
    background: black;
    color: #00CAD7;
}
.navbar li li a, .navbar li li a:link {
    text-decoration: none;
    font-size: 16px;
    background: #00CAD7;
    color:black;
    width: 140px;
    padding: 0px 0px 0 12px;
    font-size: 12px;
    line-height: 35px;
}
.navbar li ul{
    z-index: 9999;
    position:absolute;
    left:-999em;
    height:auto;
    width:120px;
    margin-top:46px;
}
    /*bagian css agar menu drop down atau sub menu*/
.navbar li:hover ul,
.navbar li li:hover ul,
.navbar li li li:hover ul{left:auto;}
.navbar li:hover{position:auto;}
li a#dropdown{
    width: 96%;
    height: 50%;
    background-color: #9BC7D3;
    padding-left : 100px;
}
/*Batas
/* css Menu nav*/

/*Bagian css informasi dan tombol login*/
.baris31{
    background-image: url('bla.jpg');
    color: white;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 100px;

}
#login{
        background-image: linear-gradient(45deg, red, blue)
    }

/*Batas css informasi dan tombol login/daftar*/

/*Bagian css isi konten dan sidebar*/
.tabel3{
    background-color: rgba(192, 192, 192, 0.582);
}
.dalamtabel{
    background-color: silver;
    border-radius: 5%;
    width: 60%;
    padding-left: 30px;
    padding-right: 5px;
}
.dalamtabel1{
    color: white;
    background-color: black;
    width: 70%;
    border-radius: 5%;
    padding-left: 50px;
}
#tabelsidebar{
    padding-right: 200px;
    width: 100%;
    background-color:silver;
}
/*Batas CSS isi konten dan sidebar*/

/*Bagian css search blog*/
.bagiansearch{
    background-image: url('bgsearch.jpg');
}
form {
    width:500px;
    margin:50px auto;
}
.search {
    width: 400px;
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.877);
    border:0px solid #dbdbdb;
}
.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #53bd84;
    background-color:#53bd84;
    color:#fafafa;
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}
/*Batas css search blog*/

/*Bagian css hak cipta*/
.hakcipta{
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 10px;
}

/*Batas css hak cipta*/